{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row m-3">
            <div class="col">
                <form method="post" action="{{ path('app_login') }}">
                    {% if error is defined %}
                        {% if error %}
                            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                        {% endif %}
                    {% endif %}

                    {% if email is defined %}
                        <div class="alert alert-success" role="alert">
                            Account activated. Please log in.
                        </div>
                    {% endif %}

                    <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                    <label for="inputEmail">Email</label>
                    <input type="email" value="{% if email is defined %}{{ email }}{% endif %}" name="email"
                           id="inputEmail" class="form-control" required autofocus>
                    <label for="inputPassword">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control mb-3" required>

                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    <button class="btn btn-lg btn-secondary" type="submit">
                        Sign in
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/auth.js') }}"></script>
{% endblock %}

